<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Main Header / Style Two-->
    <header class="main-header header-style-two">

        <!-- Main Box -->
    	<div class="main-box">
      	<div class="auto-container">
        	<div class="outer-container clearfix">
            <!--Logo Box-->
<!--             <div class="logo-box">
              <div class="logo"><a href=""><img src="logo.png" alt=""></a></div>
            </div> -->
            <!--Logo Text Box-->
                <div class="logo-text-box">
                    <a href="">Textractor Technologies</a>
                </div>

            <!--Nav Outer-->
            <div class="nav-outer clearfix">
              <!-- Main Menu -->
              <nav class="main-menu">
                <div class="navbar-header">
                    <!-- Toggle Button -->
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>

                <div class="navbar-collapse collapse scroll-nav clearfix">
                  <ul class="navigation clearfix">
                    <li class="dropdown current"><a href="#banner">Home</a></li>
                    <li><a href="#features">Products</a></li>
                    <!-- <li><a href="#features">Our Team</a></li> -->
                    <li><a href="#contact">Contact Us</a></li>
                   </ul>
                </div>
              </nav>
              <!-- Main Menu End-->

            </div>
            <!--Nav Outer End-->

        	</div>
        </div>
      </div>

    </header>
    <!--End Main Header -->

    <!--Main Banner / Banner Four-->
    <section class="main-banner banner-four" id="banner">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Text Column-->
                <div class="text-column col-md-7 col-sm-12 col-xs-12">
                    <div class="inner">
                        <h2>What we do</h2>
                        <p>Our mission is unlock Cancer datapoints from text in the electronic health record.  The timely and accurate collection of these datapoints is valuable for reporting to the government, clinical care workflows, research operations and quality assurance applications.</p>
                    </div>
                </div>

                <!--Image Column-->
                <div class="image-column col-md-4 col-sm-12 col-xs-12">
                    <div class="inner">
                        <figure class="image"><img src=<%= image_path('resource/textractor-mission-image.png')%> alt=""></figure>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End Main Banner-->
    <div id="features"></div>

    <!--Key Features Section-->
    <section class="key-features-section">
        <div class="auto-container">
            <!--Heading-->
            <div class="sec-title-three alternate centered">
                <h2>Case Finder</h2>
                <p>Case Finder is a web application that optimizes the tumor registry case finding process for review of pathology reports.
                <br/>
                Read our
                <%= link_to 'slide deck.', 'case_finder.pdf', target: '_blank' %>
                <br/>
                <a href="#contact" class="theme-btn btn-style-two">Request A Demo <span class="icon ti-arrow-circle-right"></span></a>
            </div>

            <div class="sec-title-two alternate centered">
                <h2>Key features</h2>
            </div>

            <!--Key Feature-->
            <div class="key-feature image-right">
                <div class="row clearfix">
                    <!--Text Column-->
                    <div class="text-column col-md-6 col-sm-12 col-xs-12">
                        <div class="inner">
                            <h3>Automated pull of data</h3>
                            <div class="text">Case Finder ingests order and result HL7 messages for pathology cases via HTTP from a local EHR.</div>
                        </div>
                    </div>
                    <!--Image Column-->
                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                        <div class="inner">
                            <figure class="image"><img src=<%= image_path('resource/featured-image-8.png')%> alt=""></figure>
                        </div>
                    </div>
                </div>
            </div>

            <!--Key Feature-->
            <div class="key-feature image-left">
                <div class="row clearfix">
                    <!--Text Column-->
                    <div class="text-column col-md-6 col-sm-12 col-xs-12">
                        <div class="inner">
                            <h3>NLP processing</h3>
                            <div class="text">Case Finder uses advanced natural language processing (NLP) techniques to analyze the text of the pathology case to generate suggestions for ICD-O-3 histology and sites - the data points necessary to determine if a pathology case contains a reportable cancer diagnosis.</div>
                        </div>
                    </div>
                    <!--Image Column-->
                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                        <div class="inner">
                            <figure class="image"><img src=<%= image_path('resource/featured-image-9.png')%> alt=""></figure>
                        </div>
                    </div>
                </div>
            </div>

            <!--Key Feature-->
            <div class="key-feature image-right">
                <div class="row clearfix">
                    <!--Text Column-->
                    <div class="text-column col-md-6 col-sm-12 col-xs-12">
                        <div class="inner">
                            <h3>Intuitive UI for expert review</h3>
                            <div class="text">Case Finder presents the suggested sites and histologies for pathology cases that have a suggested ICD-0-3 histology to the user for confirmation or revision and provides visual highlighting for the substantiation of its NLP suggestions.</div>
                        </div>
                    </div>
                    <!--Image Column-->
                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                        <div class="inner">
                            <figure class="image"><img src=<%= image_path('resource/featured-image-10.png')%> alt=""></figure>
                        </div>
                    </div>
                </div>
            </div>

            <!--Key Feature-->
            <div class="key-feature image-left">
                <div class="row clearfix">
                    <!--Text Column-->
                    <div class="text-column col-md-6 col-sm-12 col-xs-12">
                        <div class="inner">
                            <h3>Exportable data</h3>
                            <div class="text">Case Finder allows the user to submit for export any pathology cases with a confirmed site/histology pairing.  Case Finder allows the user to export pending confirmed site/histology pairings along with basic demographics to a standard format for import into the local cancer registry software.</div>
                        </div>
                    </div>
                    <!--Image Column-->
                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                        <div class="inner">
                            <figure class="image"><img src=<%= image_path('resource/featured-image-11.png')%> alt=""></figure>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!--Contact Section-->
    <section class="contact-section" id="contact">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Image Column-->
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner">
                        <!-- <figure class="image"><img src="images/resource/contact-image.png" alt=""></figure> -->
                    </div>
                </div>

                <!--Form Column-->
                <div class="form-column col-md-6 col-sm-12 col-xs-12">
                    <div class="sec-title">
                        <h2>Contact us</h2>
                    </div>

                    <!--Contact Form-->
                    <div class="default-form contact-form">
                        <%= form_tag contact_path do %>
                            <!-- <form id="contact" class="contactMe small roof-contact-form our-form" action="<%= contact_path %>" method="POST" enctype="multipart/form-data"> -->
                            <div class="form-group">
                                <input type="text" name="contact[company_name]" data-displayname="Company name" placeholder="Company name" required>
                                <div class="input-bottom-line"></div>
                            </div>

                            <div class="form-group">
                                <input type="text" name="contact[name]" data-displayname="Contact name" placeholder="Contact name" required>
                                <div class="input-bottom-line"></div>
                            </div>

                            <div class="form-group">
                                <input type="email" name="contact[email]" data-displayname="Email" placeholder="Email" required>
                                <div class="input-bottom-line"></div>
                            </div>

                            <div class="form-group">
                                <input type="text" name="contact[phone]" data-displayname="Phone" placeholder="Phone">
                                <div class="input-bottom-line"></div>
                             </div>

                            <div class="form-group">
                                <textarea name="contact[message]" data-displayname="Message" placeholder="Message" required></textarea>
                                <div class="input-bottom-line"></div>
                            </div>

                            <%= recaptcha_tags %>
                            <% recaptcha_error = flash[:recaptcha_error] %>
                            <% if recaptcha_error %>
                              <div class="alert alert-danger">
                                  <%= recaptcha_error %>
                              </div>
                            <% end %>
                            <div class="form-group">
                                <button type="submit" class="theme-btn btn-style-two" data-sending="Sending...">
                                    Submit form
                                    <span class="icon ti-arrow-circle-right"></span>
                                </button>
                            </div>
                            <!-- <input type="hidden" value="submitform" name="action"> -->
                          <!-- </form> -->
                          <% end %>
                    </div><!--End Contact Form-->
                </div>
            </div>
        </div>
    </section>

    <!--Footer Style Three-->
    <footer class="footer-style-three">
        <!--Footer Upper-->
        <div class="footer-upper">
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Big Column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                         <div class="row clearfix">
                            <!--Footer Column-->
                            <div class="footer-column col-md-7 col-sm-6 col-xs-12">
                                <div class="footer-widget info-widget">
                                    <div class="widget-inner">
                                        <!-- <div class="logo"><img src="images/footer-logo.png" alt=""></div> -->
                                        <h4>Textractor Technologies</h4>
                                        <ul class="info">
                                            <li><a href="#">
                                                <%= Rails.application.credentials.email_username %>
                                            </a></li>
                                            <!-- <li><a href="#">+65 2545 57581</a></li> -->
                                        </ul>
                                        <!-- <div class="social-links">
                                            <ul class="clearfix">
                                                <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                                <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                                <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                            </ul>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <!--Footer Column-->
<!--                             <div class="footer-column col-md-5 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                    <div class="widget-inner">
                                        <h3>Company</h3>
                                        <div class="links">
                                            <ul>
                                                <li><a href="#">About us</a></li>
                                                <li><a href="#">Careers</a></li>
                                                <li><a href="#">Contact us</a></li>
                                                <li><a href="#">Customers</a></li>
                                                <li><a href="#">Career</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="bottom-column col-md-6 col-sm-12 col-xs-12">
                        <div class="copyright">Copyright &copy; 2018, Textractor Technologies LLC.</div>
                    </div>
                    <!-- <div class="bottom-column col-md-6 col-sm-12 col-xs-12">
                        <div class="bottom-nav">
                            <ul class="clearfix">
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Account</a></li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

    </footer>

</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>
